<div class="stats">
    <div class="page-title">{{name}}</div>
    Click on a group header row to toggle expand/collapse. To take out the fade remove the transitions in the main.css.</br>
    <a href="" ng-click="expandAll()">Expand All</a> | <a href="" ng-click="collapseAll()">Collapse All</a>
</div>
<div class="my-container">
    <div class="listA">
        <!--// this is the datagrid //-->
        <div ux-datagrid="items" class="datagrid" data-grouped="'children'" data-addons="expandableGroups">
            <script type="template/html" data-template-name="group" data-template-item="item">
                <div class="group {{fake}}" data-ng-click="datagrid.expandableGroups.toggle($index)">
                    <div class="col col1">{{item.id}}</div>
                    <div class="col col2">{{$id}}</div>
                    <div class="col col4">{{counter}}</div>
                    <div class="col col3">height 20px</div>
                    <div class="col col5"></div>
                </div>
            </script>
            <script type="template/html" data-template-name="default" data-template-item="item">
                <div class="row {{fake}}">
                    <div class="col col1">{{item.id}}</div>
                    <div class="col col2">{{$id}}</div>
                    <div class="col col4">{{counter}}</div>
                    <div class="col col3">height 40px</div>
                    <div class="col col5"><input type="text"></div>
                </div>
            </script>
            <script type="template/html" data-template-name="sub" data-template-item="item">
                <div class="sub {{fake}}">
                    <div class="col col1">{{item.id}}</div>
                    <div class="col col2">{{$id}}</div>
                    <div class="col col4">{{counter}}</div>
                    <div class="col col3">height 30px</div>
                    <div class="col col5"><input type="text"></div>
                </div>
            </script>
        </div>
    </div>
</div>