<div class="stats">
    <div class="page-title">{{name}}</div>
    <span>SCROLL TO:</span>
    <span data-ng-repeat="p in percents"><a href="" data-ng-click="scrollToPercent(p/100)">{{p}}%</a> </span>
</div>
<div class="header">
    <div class="row">
        <div class="col sortCol1" data-ng-click="datagrid.sortModel.toggleSort('id')"><div class="{{datagrid.sortModel.getSortStateOf('id')}}">ID</div></div>
        <div class="col sortCol2" data-ng-click="datagrid.sortModel.toggleSort('name')"><div class="{{datagrid.sortModel.getSortStateOf('name')}}">Name</div></div>
        <div class="col sortCol3" data-ng-click="datagrid.sortModel.toggleSort('description')"><div class="{{datagrid.sortModel.getSortStateOf('description')}}">Description</div></div>
        <div class="col sortCol4" data-ng-click="datagrid.sortModel.toggleSort('type')"><div class="{{datagrid.sortModel.getSortStateOf('type')}}">Type</div></div>
        <div class="col sortCol5" data-ng-click="datagrid.sortModel.toggleSort('weight')"><div class="{{datagrid.sortModel.getSortStateOf('weight')}}">oz</div></div>
    </div>
</div>
<div class="my-container">
    <div class="listA">
        <!--// this is the datagrid. Add to the sorts the columns that you want sorted. If not added they will not be sortable. To pass methods for your own sorts, pass an object with asc, and desc properties that are sort functions. //-->
        <div data-ux-datagrid="datagrid.sortModel.applySorts(items)" class="datagrid" data-grouped="'children'" data-addons="sortModel" data-options="{sortModel:{groupSort:true, sorts: {id:'none', name:'asc', description:'none', type:'none', weight:'none'}}}">
            <script type="template/html" data-template-name="group" data-template-item="item">
                <div class="group {{fake}}">
                    <div class="col col1">{{item.id}}</div>
                    <div class="col sortCol2">{{item.name}}</div>
                    <div class="col sortCol3">{{item.description}}</div>
                    <div class="col sortCol4">{{item.type}}</div>
                    <div class="col sortCol5">{{item.weight}}</div>
                </div>
            </script>
            <script type="template/html" data-template-name="default" data-template-item="item">
                <div class="row {{fake}}">
                    <div class="col sortCol1">{{item.id}}</div>
                    <div class="col sortCol2">{{item.name}}</div>
                    <div class="col sortCol3">{{item.description}}</div>
                    <div class="col sortCol4">{{item.type}}</div>
                    <div class="col sortCol5">{{item.weight}}</div>
                </div>
            </script>
        </div>
    </div>
</div>