<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ux-Datagrid</title>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/googlecode.min.css">-->
    <link rel="stylesheet" href="css/googlecode.min.css">
    <link rel="stylesheet" href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.css"/>
    <!--<link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css"/>-->
    <link rel="stylesheet" href="css/ionicons.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div style="position: relative;">
    <div style="font-size: 36px;padding-left: 20px">
        <span class="datagrid-icon" style="line-height: 0px;color:#3498db"></span> <strong>Datagrid</strong>
    </div>
    <div style="color:#c0392b;font-weight: bold;margin-left: 136px;margin-top: -4px">for AngularJS</div>

    <div style="padding-top:20px;padding-left: 20px">
        <h4>Built for handling <i>VERY LARGE LISTS</i> in Angular and making them initialize quickly and scroll smoothly.</h4>

        <p><strong>Datagrid for Angular JS</strong> no longer limits you to having to paginate your data. You can now load <b>HUGE</b> lists (Tested with <b><i>50,000 Rows!</i></b>) and <b>have your app scroll like a champ!</b></p>

        <h3>Getting Started</h3>

<div class="bower">
<pre><code class="html railscasts">
bower install "ux-datagrid"
</code></pre>
</div>

        <ul class="task-list">
            <li><a href="#setup">Setup</a></li>
            <li><a href="#defaultCSS">Default Recommended CSS (fades for uncompiled rows)</a></li>
            <li><a href="#simple">Simple Integration</a></li>
            <li><a href="#usingAddons">How to use Addons</a></li>
            <li><a href="#usingOptions">How to use Options</a></li>
            <li><a href="#buildAddon">Build Your First Addon</a></li>
        </ul>

        <h3>Addons</h3>

        <p>The datagrid is built with Addons/Plugins. So if there is functionality that you want that isn't there. Feel free to create your own addon! Here are some of the built in ones.</p>
        <ul class="task-list">
            <li><a href="#multipleTemplates">Different Item Renderers (Row Templates)</a></li>
            <li><a href="#groupedData">Grouped Data</a></li>
            <li><a href="#columns">Columned Data (Like Tables)</a></li>
            <li><a href="#infiniteScroll">Infinite Scroll</a></li>
            <li><a href="#collapsibleGroups">Collapsible Groups (starts expanded)</a></li>
            <li><a href="#expandableGroups">Expandable Groups (starts collapsed)</a></li>
            <li><a href="#expandingRows">Expanding Rows</a></li>
            <li><a href="#focusManager">Focus Manager</a></li>
            <li><a href="#scrollHistory">Scroll History</a></li>
            <li><a href="#sortModelGrouped">Sort Model (Grouped)</a></li>
            <li><a href="#sortModel">Sort Model (UnGrouped)</a></li>
            <li><a href="#serverSideSorting">Server Sort (Combined with infinite scroll)</a></li>
            <li><a href="#gridLogger">Grid Logs</a></li>
            <li><a href="#memoryOptimizer">Memory Optimizer</a></li>
            <li><a href="#scrollBar">Scroll Bar</a></li>
            <li><a href="#scrollBounce">Scroll Bounce</a></li>
            <li><a href="#disableHoverWhileScrolling">Disable Hover While Scrolling</a> (<a href="http://www.thecssninja.com/javascript/pointer-events-60fps">Why?</a>)</li>
            <li><a href="#doubleScroll">Double Scroller</a></li>
        </ul>
    </div>
</div>

<!--// Include the base scripts //-->
<link rel="stylesheet" type="text/css" href="css/default.css">
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>-->
<script src="bower_components/angular/angular.min.js"></script>
<!--<script src="//rawgit.com/webux/ux-angularjs-datagrid/master/build/latest/angular-ux-datagrid.js"></script>-->
<script src="bower_components/ux-datagrid/build/latest/angular-ux-datagrid.js"></script>
<!--<script src="//rawgit.com/webux/ux-angularjs-datagrid/master/build/latest/addons/ux-datagrid-sortModel.js"></script>-->
<script src="bower_components/ux-datagrid/build/latest/addons/ux-datagrid-sortModel.js"></script>
<!--<script src="//rawgit.com/webux/ux-angularjs-datagrid/master/build/latest/addons/ux-datagrid-gridLogger.js"></script>-->

<div>
    <!-- Getting Started/Setup -->
    <a name="setup"></a>
    <div class="panel-ex">
        <div class="panel-ex-head">Getting Started / Setup</div>

        <div class="panel-ex-body">
            <p>Start by adding the <span class="label">angular-ux-datagrid.js</span> to your project. You can download it by <a href="//rawgit.com/webux/ux-angularjs-datagrid/master/build/latest/angular-ux-datagrid.js">right clicking this link and saving the file</a>.</p>
<pre><code class="javascript railscasts">
    &lt;script src="angular-ux-datagrid.js"&gt;&lt;/script&gt;
</code></pre>
        <p>Then adding the <span class="label">ux</span> to your app module. This registers the datagrid directive.</p>
<pre><code class="javascript railscasts">
    var app = angular.module('app', [<i>'ux'</i>]);
</code></pre>

        <p>Now we need to setup a controller with some items for us to display in our datagrid.</p>
<pre><code class="javascript railscasts">
    angular.module('app').controller('myCtrl', function($scope) {
        var items = [];
        for (var i = 0; i < 100; i += 1) {
            items.push({id:i});
        }
        $scope.items = items;
    });
</code></pre>

        </div>
    </div>


<div>
    <!-- Default Recommended CSS -->
    <a name="defaultCSS"></a>
    <div class="panel-ex">
        <div class="panel-ex-head">Default Recommended CSS</div>

        <div class="panel-ex-body">

    <p>The <span class="label">default CSS</span> that every grid should have. This <span class="label">makes rows fade in</span> after they render. And hides them until they are rendered.</p>
    <p><span class="label">NOTE:</span>To make rows fade in correctly each row must have it's content in at least one child element. For example if I have a row that has a name in it and the row is a div. Then the row should have a span, and then the name. This allows the css to fade it in without hiding the entire row, because it only hides the contents of a row until it is rendered.</p>
<pre><code class="css railscasts">
.datagrid-row > * {
   -webkit-transition: opacity 0.5s ease-out;
   -moz-transition: opacity 0.5s ease-out;
   -ms-transition: opacity 0.5s ease-out;
   -o-transition: opacity 0.5s ease-out;
   transition: opacity 0.5s ease-out;
}

.uncompiled > * {
   visibility: hidden;
   opacity: 0;
}

.compiled > * {
   opacity: 1;
}

.datagrid-chunk {
   opacity: 0;
   -webkit-transition: opacity 0.5s ease-out;
   -moz-transition: opacity 0.5s ease-out;
   -ms-transition: opacity 0.5s ease-out;
   -o-transition: opacity 0.5s ease-out;
   transition: opacity 0.5s ease-out;
}

.datagrid-chunk-ready {
   opacity: 1;
}
</code></pre>

        </div>
    </div>

    <!-- **************************** A Simple Datagrid ********************************** -->
    <a name="simple"></a>
    <div class="panel-ex ex1" ng-app="ex1">
        <div class="panel-ex-head">A Simple Datagrid</div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p>Start by adding the <span class="label">ux-datagrid</span> on a DOM container element. (Typically this will be a DIV).</p>
            <p>Take special note to the <span class="label black">script</span> tags. The templates are contained in them. This keeps the browser from evaluating the html inside and allows us auto complete of html is most editors.</p>
            <p>The <span class="label">template-name</span> sets the name of that template if you don't specify one, the name becomes default. If you have two with the same or no name, they will overwrite each other. </p>
            <p>The <span class="label">template-item</span> sets the name by which you want to reference the data on your scope for that row. (ex 'item' == $scope.item).</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
&lt;div ng-controller="ctrl">
    &lt;div ux-datagrid="items">
        &lt;script type="template/html" template-item="item">
            &lt;div class="ex1-row">&lt;span>{{item.id}}&lt;/span>&lt;/div>
        &lt;/script>
    &lt;/div>
&lt;/div>
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
.ex1 *[ux-datagrid] {
    width: 100%;
    height: 150px;
}

.ex1-row {
    background-color:#efefef;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
}
.ex1-row:nth-child(odd) {
    background-color:#dfdfdf;
}
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
var name = 'ex1';
angular.module(name, ['ux'])
    .controller('ctrl', function ($scope) {
        var i = 0, len = 100, items = [];
        while (i < len) {
            items.push({id: i});
            i += 1;
        }
        $scope.items = items;
    });

</code></pre>
            <p>The datagrid will then need you to pass some data to it. The simplest way it so set an array on your $scope.</p>
<!-- html:start -->
<div ng-controller="ctrl">
    <div ux-datagrid="items">
        <script type="template/html" template-item="item">
            <div class="ex1-row"><span>{{item.id}}</span></div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>
                                <link rel="stylesheet" type="text/css" href="examples/simple/ex.css">
                                <script src="examples/simple/ex.js"></script>

    <div>
    <!-- Using Addons -->
    <a name="usingAddons"></a>
    <div class="panel-ex">
        <div class="panel-ex-head">Using Addons</div>

        <div class="panel-ex-body">
            <p><span class="label">Addons</span> allow you to change the behavior or add features to the datagrid. First you need to include the addon that you want. Let's start with <a href="https://github.com/webux/ux-angularjs-datagrid/blob/master/build/latest/addons/ux-datagrid-scrollBar.js" target="ref">ScrollBar</a></span>.</p>
<pre><code class="javascript railscasts">
    &lt;script src="ux-datagrid-scrollBar.js"&gt;&lt;/script&gt;
</code></pre>
        <p>Now we need add the addon to the grid that we are using. We do this by adding an addons attribute to the html.</p>
<pre><code class="javascript railscasts">
    &ltdiv ux-datagrid="items" <i>addons="scrollBar"</i>>...
</code></pre>

        <p>That's really it. You can add as many addons to a grid as you like.</p>
<pre><code class="javascript railscasts">
    &ltdiv ux-datagrid="items" <i>addons="scrollBar scrollBounce"</i>>...
</code></pre>

        </div>
    </div>

    <div>
    <!-- Using Options -->
    <a name="usingOptions"></a>
    <div class="panel-ex">
        <div class="panel-ex-head">Using Options</div>

        <div class="panel-ex-body">
            <p><span class="label">Options</span> configure different parts or the datagrid, or configure an addon. The datagrid comes with a list of global options. Those are on <span class="label">ux.datagrid.options</span>. When you add options to a grid gets a copy of the global options. Any options that you pass to the grid then override or add to that options object on that grid only.</p>
<pre><code class="html railscasts">
    &ltdiv ux-datagrid="items" <i>options="{smartUpdate:false}"</i>>...
</code></pre>

        <p>So if you want to change the behavior for all grids, then you can modify the global options by just overriding them directly on the <span class="label">ux.datagrid.options</span>.</p>
<pre><code class="javascript railscasts">
    ux.datgrid.options.smartUpdate = false;
</code></pre>

        </div>
    </div>

    <div>
    <!-- Build Your First Addon -->
    <a name="buildAddon"></a>
    <div class="panel-ex">
        <div class="panel-ex-head">Build Your First Addon</div>

        <div class="panel-ex-body">
            <p>Let's first set the stage. You have a grid, and you want to make it show different templates for each row. The first part we need is to know how to tell what item gets what template. So we will make an addon to do this.</p>

            <p>Let's also assume for this example that your data looks like this. You have a type property on most of your objects that you are using to tell them apart.</p>
<pre><code class="javascript railscasts">
$scope.items = [
        {id:0},
        {id:0, type: 'alt1'},
        {id:1, type: 'alt2'},
    ];

</code></pre>

            <p>Given that data, we want to have different rows for each type. So we will setup our addon to override the names so it will use those type values.</p>
<pre><code class="javascript railscasts">
angular.module('ux').factory('whichTemplate', function () {
    return function (inst) {
        // now we override it with our method so we decide what template gets displayed for each row.
        inst.templateModel.getTemplate = function (item) {
            // item would be the item in your array of data provided to the datagrid.
            // let's make our default option be 'row'. Otherwise datagrid defaults this to 'default'.
            var name = item.type || 'row';
            // now we get the template from the name.
            return inst.templateModel.getTemplateByName(name);
        };
    };
});
</code></pre>

            <p>Now we just need to make sure we have templates for each of those types.</p>
<pre><code class="html railscasts">
&lt;div ng-controller="ctrl">
    &lt;div ux-datagrid="items">
        &lt;script type="template/html" template-item="item">
            &lt;div class="ex2-row">&lt;span>{{item.id}}&lt;/span>&lt;/div>
        &lt;/script>
        &lt;script type="template/html" template-name="alt1" template-item="item">
            &lt;div class="ex2-row alt1">&lt;span>ALT1: {{item.id}}&lt;/span>&lt;/div>
        &lt;/script>
        &lt;script type="template/html" template-name="alt2" template-item="item">
            &lt;div class="ex2-row alt2">&lt;span>This {{item.id}} is ALT2&lt;/span>&lt;/div>
        &lt;/script>
    &lt;/div>
&lt;/div>
</code></pre>

            <p>In <span class="label">Different Item Renderers</span> you will see this in action.</p>

        </div>
    </div>

    <!-- **************************** Different Item Renderers ********************************** -->
    <a name="multipleTemplates"></a>
    <div class="panel-ex ex2" ng-app="ex2">
        <div class="panel-ex-head">Different Item Renderers</div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p>Start by adding the <span class="label">ux-datagrid</span> on a DOM container element. (Typically this will be a DIV).</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
&lt;div ng-controller="ctrl">
    &lt;div ux-datagrid="items" addons="whichTemplate">
        &lt;script type="template/html" template-item="item">
            &lt;div class="ex2-row">&lt;span>Default {{item.id}}&lt;/span>&lt;/div>
        &lt;/script>
        &lt;script type="template/html" template-name="alt1" template-item="item">
            &lt;div class="ex2-row alt1">&lt;span>ALT1: {{item.id}}&lt;/span>&lt;/div>
        &lt;/script>
        &lt;script type="template/html" template-name="alt2" template-item="item">
            &lt;div class="ex2-row alt2">&lt;span>This {{item.id}} is ALT2&lt;/span>&lt;/div>
        &lt;/script>
    &lt;/div>
&lt;/div>
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
.ex2 *[ux-datagrid] {
    width: 100%;
    height: 150px;
}

.ex2-row {
    background-color:#efefef;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ex2-row:nth-child(odd) {
    background-color:#dfdfdf;
}
.ex2-row.alt1 {
    height: 30px;
    background-color: #F00;
}
.ex2-row.alt1:nth-child(odd) {
    background-color: #E00;
}
.ex2-row.alt2 {
    background-color: #0F0;
}
.ex2-row.alt2:nth-child(odd) {
    background-color: #0E0;
}
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
var name = 'ex2';
angular.module(name, ['ux'])
    .controller('ctrl', function ($scope) {
        var i = 0, len = 100, items = [], types = ['row', 'alt1', 'alt2'];
        while (i < len) {
            items.push({id: i, type: types[Math.floor(Math.random()*types.length)]});
            i += 1;
        }
        $scope.items = items;
    });
angular.module('ux').factory('whichTemplate', function () {
     return function (inst) {
        // now we override it with our method so we decide what template gets displayed for each row.
        inst.templateModel.getTemplate = function (item) {
            // item would be the item in your array of data provided to the datagrid.
            // let's make our default option be 'row'. Otherwise datagrid defaults this to 'default'.
            var name = item.type || 'row';
            // now we get the template from the name.
            return inst.templateModel.getTemplateByName(name);
        };
    };
});

</code></pre>
            <p>The datagrid will then need you to pass some data to it. The simplest way it so set an array on your $scope.</p>
<!-- html:start -->
<div ng-controller="ctrl">
    <div ux-datagrid="items" addons="whichTemplate">
        <script type="template/html" template-item="item">
            <div class="ex2-row"><span>Default {{item.id}}</span></div>
        </script>
        <script type="template/html" template-name="alt1" template-item="item">
            <div class="ex2-row alt1"><span>ALT1: {{item.id}}</span></div>
        </script>
        <script type="template/html" template-name="alt2" template-item="item">
            <div class="ex2-row alt2"><span>This {{item.id}} is ALT2</span></div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>
                                <link rel="stylesheet" type="text/css" href="examples/rowTemplates/ex.css">
                                <script src="examples/rowTemplates/ex.js"></script>

    <!-- **************************** Grouped Data ********************************** -->
    <a name="groupedData"></a>
    <div class="panel-ex grouped" ng-app="grouped">
        <div class="panel-ex-head">Grouped Data</div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p>Start by adding the <span class="label">ux-datagrid</span> on a DOM container element. (Typically this will be a DIV).</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
&lt;div ng-controller="ctrl">
    &lt;div ux-datagrid="items" addons="whichTemplate" grouped="'children'">
        &lt;script type="template/html" template-name="row" template-item="item">
            &lt;div class="grouped-row">&lt;span>Default {{item.id}}&lt;/span>&lt;/div>
        &lt;/script>
        &lt;script type="template/html" template-name="group" template-item="group">
            &lt;div class="grouped-row alt1">&lt;span>Group: {{group.id}}&lt;/span>&lt;/div>
        &lt;/script>
    &lt;/div>
&lt;/div>
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
.grouped *[ux-datagrid] {
    width: 100%;
    height: 150px;
}

.grouped-row {
    background-color:#efefef;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.grouped-row:nth-child(odd) {
    background-color:#dfdfdf;
}
.grouped-row.alt1 {
    height: 20px;
    background-color: #666;
    color: #FFF;
}
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
var name = 'grouped';
angular.module(name, ['ux'])
    .controller('ctrl', function ($scope) {
        var i = 0, j, len = 10, items = [], item, childLen = 0;
        while (i < len) {
            item = {id: i, children:[]};
            items.push(item);
            childLen = Math.random() * 10;
            j = 0;
            while(j < childLen) {
                item.children.push({id: i + '.' + j});
                j += 1;
            }
            i += 1;
        }
        $scope.items = items;
    });
angular.module('ux').factory('whichTemplate', function () {
     return function (inst) {
        // now we override it with our method so we decide what template gets displayed for each row.
        inst.templateModel.getTemplate = function (item) {
            // item would be the item in your array of data provided to the datagrid.
            // let's make our default option be 'row'. Otherwise datagrid defaults this to 'default'.
            var name = item.children ? 'group' : 'row';
            // now we get the template from the name.
            return inst.templateModel.getTemplateByName(name);
        };
    };
});

</code></pre>
            <p>The datagrid will then need you to pass some data to it. The simplest way it so set an array on your $scope.</p>
<!-- html:start -->
<div ng-controller="ctrl">
    <div ux-datagrid="items" addons="whichTemplate" grouped="'children'">
        <script type="template/html" template-name="row" template-item="item">
            <div class="grouped-row"><span>Default {{item.id}}</span></div>
        </script>
        <script type="template/html" template-name="group" template-item="group">
            <div class="grouped-row alt1"><span>Group: {{group.id}}</span></div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>
                                <link rel="stylesheet" type="text/css" href="examples/grouped/ex.css">
                                <script src="examples/grouped/ex.js"></script>

    <!-- **************************** Columns ********************************** -->
    <a name="columns"></a>
    <div class="panel-ex columns" ng-app="columns">
        <div class="panel-ex-head">Columned Data (like tables)</div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p>Start by adding the <span class="label">ux-datagrid</span> on a DOM container element. (Typically this will be a DIV).</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
&lt;div ng-controller="ctrl">
    &lt;div ux-datagrid="items">
        &lt;script type="template/html" template-item="item">
            &lt;div class="columns-row">
                &lt;div class="col col1">{{item.id}}&lt;/div>
                &lt;div class="col col2">{{item.firstName}}&lt;/div>
                &lt;div class="col col3">{{item.lastName}}&lt;/div>
                &lt;div class="col col4">{{item.age}}&lt;/div>
                &lt;div class="col col5">{{item.kids}}&lt;/div>
            &lt;/div>
        &lt;/script>
    &lt;/div>
&lt;/div>
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
.columns *[ux-datagrid] {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

.columns-row {
    background-color:#efefef;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.columns-row:nth-child(odd) {
    background-color:#dfdfdf;
}
.columns-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; /** THIS IS VERY IMPORTANT OR CHUNKS WITH BORDERS WILL OVERLAP EACH OTHER **/
    height: 20px;
}

.columns-row .col {
    display: table-cell !important;
    position: relative;
    text-align: center;
    border-right: 1px solid #999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.columns-row .col1 {
    width: 20px;
}

.columns-row .col2 {
    text-transform: capitalize;/* uppercase the word */
    text-align: left;
    width: 20%;
}

.columns-row .col3 {
    text-transform: capitalize;/* uppercase the word */
    text-align: left;
}

.columns-row .col4 {
    width: 40px;
}

.columns-row .col5 {
    width: 40px;
}
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
var name = 'columns';
function getName(len) {
    var alpha = 'abcdefghijklmnopqrstuvwxyz', str = '';
    while (str.length < len) {
        str += alpha[Math.floor(Math.random() * alpha.length)];
    }
    return str;
}
angular.module(name, ['ux'])
    .controller('ctrl', function ($scope) {
        var i = 0, j, len = 10, items = [], item, childLen = 0;
        while (i < len) {
            item = {id: i, firstName:getName(10), lastName:getName(10), age: Math.floor(Math.random() * 50 + 18), kids: Math.floor(Math.random() * 10)};
            items.push(item);
            i += 1;
        }
        $scope.items = items;
    });

</code></pre>
            <p>The datagrid will then need you to pass some data to it. The simplest way it so set an array on your $scope.</p>
<!-- html:start -->
<div ng-controller="ctrl">
    <div ux-datagrid="items">
        <script type="template/html" template-item="item">
            <div class="columns-row">
                <div class="col col1">{{item.id}}</div>
                <div class="col col2">{{item.firstName}}</div>
                <div class="col col3">{{item.lastName}}</div>
                <div class="col col4">{{item.age}}</div>
                <div class="col col5">{{item.kids}}</div>
            </div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>
                                <link rel="stylesheet" type="text/css" href="examples/columns/ex.css">
                                <script src="examples/columns/ex.js"></script>

    <!-- **************************** Sorting ********************************** -->
    <a name="sortModel"></a>
    <div class="panel-ex sorting" ng-app="sorting">
        <div class="panel-ex-head">Sorting</div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p>The <span class="label">ux-datagrid-sortModel</span> addon allows you to do sorting by adding the addon and setting a few options.</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
&lt;div ng-controller="ctrl">
    &lt;button type="button" class="btn-primary" ng-click="grid.sortModel.toggleSort('id')">Click To Sort ({{grid.sortModel.getSortStateOf('id')||'none'}})&lt;/button>
    &lt;div ux-datagrid="datagrid.sortModel.applySorts(items)" addons="sortModel" options="{sortModel:{sorts:{id:'none'}}}">
        &lt;script type="template/html" template-item="item">
            &lt;div class="sorting-row">&lt;span>{{item.id}}&lt;/span>&lt;/div>
        &lt;/script>
    &lt;/div>
&lt;/div>
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
.sorting *[ux-datagrid] {
    width: 100%;
    height: 150px;
}

.sorting-row {
    background-color:#6699CC;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sorting-row:nth-child(odd) {
    background-color:#5588BB;
}
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
var name = 'sorting';
angular.module(name, ['ux'])
    .controller('ctrl', function ($scope) {
        var i = 0, len = 100, items = [];
        while (i < len) {
            items.push({id: i});
            i += 1;
        }
        $scope.items = items;
         $scope.$on(ux.datagrid.events.ON_STARTUP_COMPLETE, function(evt, grid) {
            $scope.grid = grid;
        });
    });

</code></pre>
            <p>The datagrid will then need you to pass some data to it. The simplest way it so set an array on your $scope.</p>
<!-- html:start -->
<div ng-controller="ctrl">
    <button type="button" class="btn-primary" ng-click="grid.sortModel.toggleSort('id')">Click To Sort ({{grid.sortModel.getSortStateOf('id')||'none'}})</button>
    <div ux-datagrid="datagrid.sortModel.applySorts(items)" addons="sortModel" options="{sortModel:{sorts:{id:'none'}}}">
        <script type="template/html" template-item="item">
            <div class="sorting-row"><span>{{item.id}}</span></div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>
                                <link rel="stylesheet" type="text/css" href="examples/sorting/ex.css">
                                <script src="examples/sorting/ex.js"></script>

        <p>MORE EXAMPLES TO COME</p>

</div>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/webux/ux-angularjs-datagrid" fm-parent="14" fm-id="53" tabindex="-1">Fork me on GitHub</a>
    </div>
</div>

</body>
</html>
