.group, .row, .sub {
    display: table;
    width: 100%;
}

.col {
    display: table-cell !important;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.col1 {
    width: 40px;
}

.col2 {
    width: 20%;
}

.col3 {

}

.col4 {
    width: 40px;
}

.col5 {
    width: 40px;
}