<!-- **************************** Scroll Bar ********************************** -->
    <a name="scrollBar"></a>
    <div class="panel-ex scrollBarEx" ng-app="scrollBarEx">
        <div class="panel-ex-head">Scroll Bar <a href="https://rawgit.com/webux/ux-angularjs-datagrid/master/docs/addons/ux-datagrid-scrollBar.js.html" target="_blank" class="label fa fa-external-link"> View Docs</a></div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p>Adding a scroll bar to the scrolled content.</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
##html##
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
##css##
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
##js##
</code></pre>
<!-- html:start -->
<div ng-controller="ctrl" class="scrollBarExCtrl">
    <div ux-datagrid="items" addons="scrollBar">
        <script type="template/html" template-item="item">
            <div class="infiniteScrollEx-row"><span>Default {{item.id}}</span></div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>