<!-- **************************** Different Item Renderers ********************************** -->
    <a name="#multipleTemplates"></a>
    <div class="panel-ex ex2" ng-app="ex2">
        <div class="panel-ex-head">Different Item Renderers</div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p>Start by adding the <span class="label">ux-datagrid</span> on a DOM container element. (Typically this will be a DIV).</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
##html##
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
##css##
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
##js##
</code></pre>
            <p>The datagrid will then need you to pass some data to it. The simplest way it so set an array on your $scope.</p>
<!-- html:start -->
<div ng-controller="ctrl">
    <div ux-datagrid="items" addons="whichTemplate">
        <script type="template/html" template-item="item">
            <div class="ex2-row"><span>Default {{item.id}}</span></div>
        </script>
        <script type="template/html" template-name="alt1" template-item="item">
            <div class="ex2-row alt1"><span>ALT1: {{item.id}}</span></div>
        </script>
        <script type="template/html" template-name="alt2" template-item="item">
            <div class="ex2-row alt2"><span>This {{item.id}} is ALT2</span></div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>