<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Datagrid</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="YES">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="images/favicon.ico">

    <link type="text/css" rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <!--<script src="../../lib/angular.js"></script>-->
    <script src="../../build/angular-ux-datagrid.js"></script>
    <script>

        var records = 50000;

        function root($scope) {
            $scope.counter = 0;
            $scope.records = records;
            setInterval(function () {
                $scope.counter += 1;
//                if (!$scope.$$phase) {
//                    $scope.$apply();
//                }
            }, 1000);

            $scope.scrollToPercent = function (percent) {
                var datagrid = document.getElementsByClassName('datagrid');
                datagrid[0].scrollTop = angular.element(datagrid[0]).children()[0].offsetHeight * percent;
            }
        }

        function simpleArray($scope) {
            var i = 0, len = records;
            $scope.items = [];
            while (i < len) {
                $scope.items.push({id: i});
                i += 1;
            }
        }

        angular.module('app', ['ux']);
    </script>
    <!--//
        Note: {{fake}} below is to get angular to process the class attribute. This wipes out any css classes that were added by jquery.
    //-->
</head>
<body data-ng-controller="root">
This is a simple example of using the datagrid with {{records|number}} rows.
<div class="stats">
    <div>records {{records|number}}</div>
    <span>SCROLL TO:</span>
    <a href="" data-ng-click="scrollToPercent(0.0)">0%</a>
    <a href="" data-ng-click="scrollToPercent(0.25)">25%</a>
    <a href="" data-ng-click="scrollToPercent(0.5)">50%</a>
    <a href="" data-ng-click="scrollToPercent(0.75)">75%</a>
    <a href="" data-ng-click="scrollToPercent(1)">100%</a>
</div>
<!--// container to put a background loader behind the datagrid //-->
<div class="my-container">
    <div data-ng-controller="simpleArray" class="listA">
        <!--// this is the datagrid //-->
        <div data-ux-datagrid="items" class="datagrid">
            <script type="template/html" data-template-name="default" data-template-item="item">
                <div class="row {{fake}}">
                    <div class="text">{{item.id}} {{$id}} {{counter}}</div>
                    <div random-icons="pencil droid trash"></div>
                    <input type="text">
                </div>
            </script>
            <div class="content"></div>
        </div>
    </div>
</div>
</body>
</html>