<!-- **************************** Collapsible Groups********************************** -->
    <a name="collapsibleGroups"></a>
    <div class="panel-ex collapsibleGroups" ng-app="collapsibleGroups">
        <div class="panel-ex-head">Collapsible Groups <a href="https://rawgit.com/webux/ux-angularjs-datagrid/master/docs/addons/ux-datagrid-collapsibleGroups.js.html" target="_blank" class="label fa fa-external-link"> View Docs</a></div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p><span class="label">collapsibleGroups</span> works on the concept of starting out with rows already exposed. It doesn't actually change that the grid renders, but just does a display none on that dom. It is recommended to use <span class="label">ExpandableGroups</span> instead because it will be more performant with a large data set. <span class="lable">collapsibleGroups</span> is still digesting all of the rows that are collapsed. It is really the early version of <span class="label">expandableGroups</span>. </p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
##html##
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
##css##
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
##js##
</code></pre>
            <p>The datagrid will then need you to pass some data to it. The simplest way it so set an array on your $scope.</p>
<!-- html:start -->
<div ng-controller="ctrl">
    <div class="collapsibleGroups-row collapsibleGroups-header">
        <div class="col col1">ID</div>
        <div class="col col2">First Name</div>
        <div class="col col3">Last Name</div>
        <div class="col col4">Age</div>
        <div class="col col5">Kids</div>
    </div>
    <div ux-datagrid="items" class="datagrid" grouped="'children'" addons="whichTemplate, collapsibleGroups">
        <script type="template/html" template-name="group" template-item="group">
            <div class="collapsibleGroups-group" ng-click="datagrid.collapsibleGroups.toggle($index)">
                <div class="col col3">{{group.title}} - <i>(Click to collapse)</i></div>
            </div>
        </script>
        <script type="template/html" template-name="row" template-item="item">
            <div class="collapsibleGroups-row">
                <div class="col col1">{{item.id}}</div>
                <div class="col col2">{{item.firstName}}</div>
                <div class="col col3">{{item.lastName}}</div>
                <div class="col col4">{{item.age}}</div>
                <div class="col col5">{{item.kids}}</div>
            </div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>