<div class="stats">
    <div class="page-title">{{name}}</div>
    <p>The purpose of this application is to test memory usage of the datagrid. By going from page to page to validate that the memory footprint is cleared.</p>
    <div class="page-title">Addons that are ready to apply to your grid.</div>
    <ul>
        <li>Desktop
            <ul>
                <li><a href="#/addons/disableHoverWhileScrolling">disableHoverWhileScrolling</a> - in desktop applications with hovers in the scrolling performance can decrease on scrolling dom. This will automatically disable hovers while scrolling. see <a href="http://www.thecssninja.com/javascript/pointer-events-60fps" target="hoverScroll">http://www.thecssninja.com/javascript/pointer-events-60fps</a> for more information.</li>
                <li><a href="#/addons/gridFocusManager">gridFocusManager</a> - allow enter key to jump to the next row and tab to continue the same row. like a spreadsheet.</li>
            </ul>
        </li>
        <li>Touch
            <ul>
                <li><a href="#/addons/iScrollAddon">iScrollAddon</a> - This will only work on an ios device. Android does this by default.</li>
            </ul>
        </li>
        <!--<li><a href="#/addons/findInList">findInList</a> - Like find in page for the browser. However, since all of the data is not rendered initially it needs a way to search the list parts that are not visible..</li>-->
        <li><a href="#/addons/collapsibleGroups">collapsibleGroups</a> - Collapse and expand groups.</li>
        <li><a href="#/addons/expandRows">expandRows</a> - Animate expanding and collapsing rows.</li>
        <li><a href="#/addons/infiniteScroll">infiniteScroll</a> - Show a spinner as the grid scrolls to the bottom and then load more data.</li>
        <li><a href="#/addons/scrollHistory">scrollHistory</a> - Keep track of the last scrolled position on that grid and return to it when that grid loads again. Stores based on path in url.</li>
        <li><a href="#/addons/sortModel">sortModel</a> - Sorting with headers on the datagrid. Also allows for <a href="#/addons/sortModelServer">server side sort example</a>.</li>
        <li><a href="#/addons/statsModel">statsModel</a></li>
        <li><a href="#/addons/logging">gridLogger</a> - log event listener to output to the console for logging. Minified mode will have these events removed (eventually)</li>
        <li><a href="#/addons/memoryOptimizer">memoryOptimizer</a> - An addon for really long lists that are in need of optimizing some memory in sacrifice of performance.</li>
    </ul>
    <div class="page-title">Other</div>
    <ul>
        <li><a href="#/other/columns">columns</a> - datagrid does not support tables. However, with a little CSS it acts just like them.</li>
        <li><a href="#/other/doubleScroll">double scroll</a> - When you want to scroll a header out of view before scrolling the grid..</li>
    </ul>
</div>
