<!-- **************************** Sorting ********************************** -->
    <a name="sortModel"></a>
    <div class="panel-ex sorting" ng-app="sorting">
        <div class="panel-ex-head">Sorting (Ungrouped) <a href="https://rawgit.com/webux/ux-angularjs-datagrid/master/docs/addons/ux-datagrid-sortModel.js.html" target="_blank" class="label fa fa-external-link"> View Docs</a></div>

        <div class="panel-ex-body" ng-controller="tabs">
            <p>The <span class="label">ux-datagrid-sortModel</span> addon allows you to do sorting by adding the addon and setting a few options.</p>
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active:tab=='html'}"><a href="" role="tab" ng-click="tab='html'">HTML</a></li>
        <li ng-class="{active:tab=='css'}"><a href="" role="tab" ng-click="tab='css'">CSS</a></li>
        <li ng-class="{active:tab=='js'}"><a href="" role="tab" ng-click="tab='js'">JavaScript</a></li>
    </ul>
<pre ng-show="tab=='html'"><code class="html railscasts">
##html##
</code></pre>
<pre ng-show="tab=='css'"><code class="css railscasts">
##css##
</code></pre>
<pre ng-show="tab=='js'"><code class="javascript railscasts">
##js##
</code></pre>
            <p>The datagrid will then need you to pass some data to it. The simplest way it so set an array on your $scope.</p>
<!-- html:start -->
<div ng-controller="ctrl">
    <button type="button" class="btn-primary" ng-click="grid.sortModel.toggleSort('id')">Click To Sort ({{grid.sortModel.getSortStateOf('id')||'none'}})</button>
    <div ux-datagrid="datagrid.sortModel.applySorts(items)" addons="sortModel" options="{sortModel:{sorts:{id:'none'}}}">
        <script type="template/html" template-item="item">
            <div class="sorting-row"><span>{{item.id}}</span></div>
        </script>
    </div>
</div>
<!-- html:end -->
        </div>
    </div>