<div class="stats">
    <div class="page-title">{{name}}</div>
    <div progress-bar class="progress-bar"></div>
    <span>SCROLL TO:</span>
    <span data-ng-repeat="p in percents"><a href="" data-ng-click="scrollToPercent(p/100)">{{p}}%</a> </span>
</div>
<div class="my-container" style="overflow: auto;" data-ux-double-scroll="'.datagrid'">
    <div class="doubleScrollContent" style="position:absolute; width: 100%;">
        <div class="header">
            A header to scroll out of view.
        </div>
        <div class="listA" style="position: relative;">
            <!--// This is the background loader //-->
            <div class="spinningSquares">
                <div data-ng-repeat="num in [1, 2, 3, 4, 5, 6, 7, 8]"
                     class="spinningSquaresG spinningSquares_{{num}}"></div>
            </div>
            <!--// this is the datagrid //-->
            <div data-ux-datagrid="items" class="datagrid" data-addons="iosScroll, infiniteScroll">
                <script type="template/html" data-template-name="default" data-template-item="item">
                    <div class="row {{fake}}">
                        <div class="text">{{item.id}} {{$id}} {{counter}} {{outerScrollTop}} {{innerScrollTop}}</div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>