<div class="stats">
    <div class="page-title">{{name}}</div>
    <div progress-bar class="progress-bar"></div>
    <span>SCROLL TO:</span>
    <span data-ng-repeat="p in percents"><a href="" data-ng-click="scrollToPercent(p/100)">{{p}}%</a> </span>
</div>
<div class="my-container" data-ux-double-scroll="'.datagrid'" data-target-offset="20">
    <div class="doubleScrollContent" style="position:absolute; width: 100%;">
        <div class="header">
            A header to scroll out of view. Double scroll will scroll a header content out of view and then
            scroll inside of the grid. When the grid scrolls back up it brings it back into view.
            So it makes the header act like part of the grid, but it is not to keep the data in the grid simple.
        </div>
        <div style="background-color:#cecece;width:100%;height:20px;">Offset used to not include this header.</div>
        <div class="listA" style="position: relative;">
            <!--// this is the datagrid //-->
            <div data-ux-datagrid="items" class="datagrid" data-addons="scrollBar" data-options="{scrollModel:{manual:true}}">
                <script type="template/html" data-template-name="default" data-template-item="item">
                    <div class="row {{fake}}">
                        <div class="text">{{item.id}} {{$id}} {{counter}} {{outerScrollTop}} {{innerScrollTop}}</div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>